body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("bgimg.png");
    
}

.login-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 90%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.banner {
    flex: 1;
    padding: 40px;
    background-color: #007BFF;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.login-form {
    flex: 1;
    padding: 40px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #007BFF;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: #333;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    padding: 12px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .banner,
    .login-form {
        flex: 1 0 100%;
    }
}
